HF_TOKEN=
HF_HUB_ENABLE_HF_TRANSFER=1
RUNPOD_SERVERLESS=false
COMFYUI_API_URL=http://127.0.0.1:8188
IMAGE_NAME=ghcr.io/tolgatasci/runpod-ltx2:latest

PERSISTENT_ROOT=/runpod-volume
PERSIST_MODELS=true
PERSIST_INPUT=false
PERSIST_OUTPUT=false
PERSIST_WORKFLOWS=false
PERSIST_HF_CACHE=true
PERSIST_MODELS_SUBDIR=models
PERSIST_INPUT_SUBDIR=input
PERSIST_OUTPUT_SUBDIR=output
PERSIST_WORKFLOWS_SUBDIR=workflows
PERSIST_HF_SUBDIR=hf-cache

RUNTIME_ROOT=/tmp/ltx2-runtime
RUNTIME_PRUNE_ENABLED=true
PRUNE_INTERVAL_SECONDS=300
INPUT_RETENTION_SECONDS=900
OUTPUT_RETENTION_SECONDS=900
TEMP_RETENTION_SECONDS=900

LTX2_MODEL_SOURCE=hf://Lightricks/LTX-2/ltx-2-19b-distilled-fp8.safetensors
GEMMA_TEXT_ENCODER_SOURCE=hf://Comfy-Org/ltx-2/split_files/text_encoders/gemma_3_12B_it.safetensors
GEMMA_TOKENIZER_SOURCE=hf://Lightricks/LTX-2/tokenizer/tokenizer.model
GEMMA_PREPROCESSOR_SOURCE=hf://Lightricks/LTX-2/tokenizer/preprocessor_config.json
SPATIAL_UPSCALER_SOURCE=hf://Lightricks/LTX-2/ltx-2-spatial-upscaler-x2-1.0.safetensors
TEMPORAL_UPSCALER_SOURCE=hf://Lightricks/LTX-2/ltx-2-temporal-upscaler-x2-1.0.safetensors
IC_LORA_UNION_SOURCE=hf://Lightricks/LTX-2-19b-IC-LoRA-Union-Control/ltx-2-19b-ic-lora-union-control-ref0.5.safetensors
CAMERA_MOTION_LORA_SOURCE=hf://Lightricks/LTX-2-19b-LoRA-Camera-Control-Static/ltx-2-19b-lora-camera-control-static.safetensors

MODELS_AUTO_DOWNLOAD=true
DOWNLOAD_ONCE=true
REQUIRE_ALL_MODELS=true
CLEANUP_JOB_INPUTS=true
CLEANUP_JOB_OUTPUTS=true
MAX_INPUT_IMAGE_MB=30
MAX_INLINE_OUTPUT_MB=30
