HF_TOKEN=
HF_HUB_ENABLE_HF_TRANSFER=1

PERSISTENT_ROOT=/runpod-volume
PERSIST_MODELS_SUBDIR=models
PERSIST_INPUT_SUBDIR=input
PERSIST_OUTPUT_SUBDIR=output
PERSIST_WORKFLOWS_SUBDIR=workflows

LTX2_MODEL_SOURCE=
GEMMA_TEXT_ENCODER_SOURCE=
SPATIAL_UPSCALER_SOURCE=
TEMPORAL_UPSCALER_SOURCE=
IC_LORA_UNION_SOURCE=
CAMERA_MOTION_LORA_SOURCE=

MODELS_AUTO_DOWNLOAD=true
DOWNLOAD_ONCE=true
REQUIRE_ALL_MODELS=false
